[submodule "LizardGraphics/VulkanMemory/Allocator"]
	path = LizardGraphics/VulkanMemory/Allocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "LizardGraphics/imgui"]
	path = LizardGraphics/imgui
	url = https://github.com/ocornut/imgui
[submodule "LizardGraphics/assimp"]
	path = LizardGraphics/assimp
	url = https://github.com/assimp/assimp
[submodule "assimp"]
	path = assimp
	url = https://github.com/assimp/assimp
